<div class="container app">
  <div class="row">
    <div class="col-sm-12 mb-5">
      <h1 class="text-center">
        {{title}}
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <img class="logo" src="../assets/echoBooks.png" alt="Logo">
    </div>
    <div class="col-sm-6 mb-4">
      <div class="card-body">
        <div class="card-title" *ngIf="selectBook.id == 0">
          <h3>Create Book</h3>
        </div>
        <div class="card-title" *ngIf="selectBook.id !== 0">
          <h3>Update Book</h3>
        </div>
        <div class="form-group p-1">
          <input type="text" placeholder="Title (Required)" class="form-control" [(ngModel)]="selectBook.title" name="title">
        </div>
        <div class="form-group p-1">
          <input type="text" placeholder="Author" class="form-control" [(ngModel)]="selectBook.author" name="author">
        </div>
        <div class="form-group p-1">
          <input type="text" placeholder="Genere" class="form-control" [(ngModel)]="selectBook.genere" name="genere">
        </div>
        <div class="form-group p-1">
          <input type="text" placeholder="Pages" class="form-control" [(ngModel)]="selectBook.pages" name="pages">
        </div>
        <div class="form-group p-1">
          <input type="text" placeholder="Status" class="form-control" [(ngModel)]="selectBook.status" name="status">
        </div>
        <div class="row">
          <div class="col-sm-12 text-center">
            <button (click)="addBook()" class="btn btn-success" *ngIf="selectBook.id == 0">
              Add
            </button>
            <button (click)="UpBook()" class="btn btn-success" *ngIf="selectBook.id !== 0">
              Confirm
            </button>
            <button (click)="deleteBook()" class="btn btn-danger" *ngIf="selectBook.id !== 0">
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h3 class="text-center">All Books</h3>
      <ul class="list-group">
        <li *ngFor="let book of books" class="list-group-item list-group-item-action" (click)="editBook(book)" [class.active]="book == selectBook">
          <span class="btn btn-primary">{{book.id}}</span> > <strong>{{book.title}}</strong> - <em>{{book.author}}</em> - <span>{{book.genere}}</span> - <span>{{book.pages}}pg</span> - <span class="text-primary">{{book.status}}</span>
        </li>
      </ul>
    </div>
    
  </div>
  <div class="row">
    <div class="col-sm-12 text-center mt-4">
      <button (click)="exportBook()" class="btn btn-warning">
        Export File
      </button>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-12 mt-5 text-center">
      <p>Powered by EchoGroup - Derechos Reservados 2023</p>
    </div>
  </div>
</div>