/* You can add global styles to this file, and also import other style files */
body{
    background: #616161;
    background: -webkit-linear-gradient(to right, #9bc5c3, #616161);
    background: linear-gradient(to right, #9bc5c3, #616161);
}